<a class="button" id="lupa" href="#" onclick="if(TJPzoomswitch(document.getElementById('unique113'))) {this.innerHTML='Dezactivează lupa <i class=\'icon-search icon-white\'></i>'} else {this.innerHTML='Activează lupa <i class=\'icon-search icon-white\'></i>'}; return false;">Activează lupa</a>
<h3>Folosire lupă:</h3>
<ul>
	<li>Mișcați lupa deasupra hărții pentru mărire</li>
	<li>Apăsați concomitent butoanele 1+2 ale mouse-ului și mișcați mouse-ul sus/jos pentru creșterea/micșorarea nivelului de zoom</li>
	<li>Apăsați concomitent butoanele 1+2 ale mouse-ului și mișcați mouse-ul stanga/dreapta pentru creșterea/micșorarea zonei de zoom</li>
</ul>
<div>
	<img src="/img/maps/{{hartaImg}}" onmouseover="TJPzoomif(this);" id="unique113"/>
</div>

